<a href="https://colab.research.google.com/github/zanehmt/AdvancedPythonPrograming/blob/main/Lab2/Lab2_C8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#1.Variable kingdoms refers to the list ['Bacteria', 'Protozoa', 'Chromista', 
#'Plantae', 'Fungi',
#'Animalia']. Using kingdoms and either slicing or indexing with positive 
#indices,
#write expressions that produce the following
a = ['Bacteria', 'Protozoa', 'Chromista', 
'Plantae', 'Fungi',
'Animalia']
print("a."+str(a[0]))
print("b."+str(a[5]))
print("c."+str(a[0:3]))
print("d."+str(a[2:5]))
print("e."+str(a[4:]))
print("f."+str(a[1:0]))

a.Bacteria
b.Animalia
c.['Bacteria', 'Protozoa', 'Chromista']
d.['Chromista', 'Plantae', 'Fungi']
e.['Fungi', 'Animalia']
f.[]

In [29]:
#2.Repeat the previous exercise using negative indices.
print("a."+str(a[-6]))
print("b."+str(a[-1]))
print("c."+str(a[-6:-3]))
print("d."+str(a[-4:-1]))
print("e."+str(a[-2:]))
print("f."+str(a[-6:0]))

a.Bacteria
b.Animalia
c.['Bacteria', 'Protozoa', 'Chromista']
d.['Chromista', 'Plantae', 'Fungi']
e.['Fungi', 'Animalia']
f.[]

In [30]:
#3.Variable appointments refers to the list ['9:00', '10:30', '14:00', '15:00', 
#'15:30']. An appointment is scheduled for 16:30, so '16:30' needs to be added 
#to the list
list_number = ['9:00', '10:30', '14:00', '15:00', '15:30']
list_number.append('16:30')
print("a." + str(list_number))
list_number += ['16:30']
print("b." +str(list_number)) 
print("c." + "\nModified: [1] = " + "str new\t Ex: [1] = 10:00"+  "\n" +"Create a New: +[] Ex: += [10:00] return List new")

a.['9:00', '10:30', '14:00', '15:00', '15:30', '16:30']
b.['9:00', '10:30', '14:00', '15:00', '15:30', '16:30', '16:30']
c.
Modified: [1] = str new	 Ex: [1] = 10:00
Create a New: +[] Ex: += [10:00] return List new

In [31]:
#4.Variable ids refers to the list [4353, 2314, 2956, 3382, 9362, 3900]. Using 
#list methods, do the following
list_Number = [4353, 2314, 2956, 3382, 9362, 3900]
list_Number.remove(3382)
print("a.New list after remove: "+str(list_Number) + "\tRemove 3382") 
index = list_Number.index(9362)
print("b.Index: "+str(index))
list_Number.insert(4,4499)
print("c.New list after insert: "+str(list_Number)+ "\t Insert 4499 after 9362")
list_clone = [5566,1830]
list_Number.extend(list_clone)
print("d.New list after extend: "+str(list_Number))
list_Number.reverse()
print("e.New list after reverse: "+str(list_Number))
list_Number.sort()
print("f.New list after sort: "+str(list_Number))

a.New list after remove: [4353, 2314, 2956, 9362, 3900]	Remove 3382
b.Index: 3
c.New list after insert: [4353, 2314, 2956, 9362, 4499, 3900]	 Insert 4499 after 9362
d.New list after extend: [4353, 2314, 2956, 9362, 4499, 3900, 5566, 1830]
e.New list after reverse: [1830, 5566, 3900, 4499, 9362, 2956, 2314, 4353]
f.New list after sort: [1830, 2314, 2956, 3900, 4353, 4499, 5566, 9362]

In [32]:
#5.In this exercise, you’ll create a list and then answer questions about that
#list.

In [33]:
#6.In this exercise, you’ll create a list and then answer questions about that
#list
temp = [25.2,16.8,31.4,23.9,28,22.5,19.6]
temp.sort()
print("b.New temp reverse: " + str(temp))
cool_temps = []
warm_temps = []
for i in temp:
  if(i>20):
    warm_temps.append(i)
  else:
    cool_temps.append(i)
print("c.Nhiet do >20: " + str(warm_temps))
print("c.Nhiet do duoi 20: "+str(cool_temps))
temps_in_c = cool_temps + warm_temps
print(temps_in_c)

b.New temp reverse: [16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]
c.Nhiet do >20: [22.5, 23.9, 25.2, 28, 31.4]
c.Nhiet do duoi 20: [16.8, 19.6]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

In [34]:
#Complete the examples in the docstring and then write the body of the
#following function
def same_first_last(L):
  return not L or L[0] == L[-1]
same_first_last(['apple','banana','pear'])

False

In [35]:
#Complete the examples in the docstring and then write the body of the
#following function:
#def is_longer(L1, L2):

In [36]:
#Draw a memory model showing the effect of the following statements:
#values = [0, 1, 2]
#values[1] = values

In [37]:
#Variable units refers to the nested list [['km', 'miles', 'league'], ['kg', 'pound', 
#'stone']].
#Using units and either slicing or indexing with positive indices, write
#expressions that produce the following
nested = [['km', 'miles', 'league'], ['kg', 'pound', 'stone']]
print(nested[0][0])
print(nested[1][-1])
print(nested[0][0])
print(nested[1][-3])
print(nested[0][1:])
print(nested[1][:2])

km
stone
km
kg
['miles', 'league']
['kg', 'pound']

In [38]:
#Repeat the previous exercise using negative indices
print(nested[0][0])
print(nested[1][-1])
print(nested[0][0])
print(nested[1][-3])
print(nested[0][1:])
print(nested[1][:2])

km
stone
km
kg
['miles', 'league']
['kg', 'pound']